[submodule "trueskill"]
	path = manager/trueskill
	url = https://github.com/aichallenge/trueskill
[submodule "ants/bots/c"]
	path = ants/bots/c
	url = https://github.com/flagcapper/GoogleAI-Ants-Starter-Pack.git
