html {
    overflow-y: scroll;
    height: 100%;
}

body {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6688ee', endColorstr='#2233ff', GradientType=0); /* for IE */
    background: -webkit-gradient(linear, left top, 0% 100%, from(#68e), to(#23f));
    background: -moz-linear-gradient(top,  #68e,  #23f);
    background-attachment: fixed;
}

#wrapper {
    position: relative;
    
    margin: 10px auto;
    width: 960px;
    
    background: #fff;
}

.left {
    display: block;
    float: left;
    width: 720px;
    
}

.right {
    position: relative;
    display: block;
    float: right;
    width: 240px;
}

.columns {
    position: relative;
    background: #7a0;
}

.columns:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header .left {
    position: relative;
    height: 200px;
}

#header .right {
    height: 200px;
    overflow: hidden;
}

#header .left, #footer {
    background: #050;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090', endColorstr='#050', GradientType=1); /* for IE */
    background: -webkit-gradient(linear, 0% 0%, 45% 0%, from(#090), to(#050)); /* for webkit browsers */
    background: -moz-linear-gradient(left, #090, #050 45%); /* for firefox 3.6+ */ 
}

#header h1, #header h2, #header h3 {
    font-weight: normal;
    font-size: 60px;
    padding-top: 70px;
    text-shadow: none;
    margin: 0px;
}

#header h1 {
    position: absolute;
    right: 0px;
    z-index: 1;
    
    text-align: left;
    text-shadow: #7a0 0px 0px 20px; /*Glow*/
}

#header h2 {
    text-align: center;
}

#header h3 {
    font-size: 1.5em;
    color: #fff;
    text-shadow: #000 1px 1px 3px;
    text-align: right;
    padding: 0 20px;
}

#header .right img {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
}

#header #triangle {
    width: 6em;
    height: 6em;
    background: #050;
    position: absolute;
    float: left;
    top: 66px;
    left: -3em;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
    -o-transform: rotate(45deg);
}

#login {
    position: absolute;
    float: left;
    bottom: 100%;
    padding: 15px;
}

#login, #login a {
    font-size: 1.1em;
    color: #fff;
    text-shadow: #000 1px 1px 3px;
}

#content {
    background: #fff;
    padding: 15px;
    
    min-height: 65%;
}

#footer {
    padding: 15px;
    color: #fff;
    text-shadow: #000 1px 1px 3px;
}