server_info = {
    "db_host": "localhost",
    "db_username": "planetwars",
    "db_password": "pwpass",
    "db_name": "planetwars",
    "mail_name": "test",
    "mail_username": "",
    "mail_password": "",
    "submissions_path": "/home/worker/aichallenge/submissions/",
    "root_path": "/home/worker/aichallenge/",
    "maps_path": "/home/worker/aichallenge/maps/",
    "api_base_url": "http://127.0.0.1/",
    "api_key": "1"
    "game_options": {
        "turns": 1000,
        "loadtime": 3000,
        "turntime": 1000,
        "viewradius2": 55,
        "attackradius2": 4,
        "spawnradius2": 1
    }
}
