server_info = {{
  "db_username": "root",
  "db_password": "",
  "db_name": "contest",
  "db_host": "127.0.0.1",
  "mail_username": "donotreply@ai-contest.com",
  "mail_name": "AI Contest",
  "mail_password": "",
  "root_path": "{contest_root}",
  "maps_path": "{map_dir}",
  "submissions_path": "{sub_dir}"
}}

