server_info = {{
  "db_username": "{database_user}",
  "db_password": "{database_password}",
  "db_name": "{database_name}",
  "db_host": "127.0.0.1",
  "maps_path": "{map_dir}",
  "uploads_path": "{upload_dir}",
  "logs_path": "{log_dir}"
}}

