<?php

$server_info = array(
    "db_host" => "localhost",
    "db_username" => "aichallenge",
    "db_password" => "************",
    "db_name" => "aichallenge",
    "mailer_address" => "donotsend",
    "mailer_password" => "",
    "mailer_name" => "",
    "submissions_open" => True,
    "submissions_path" => "/home/contest/aichallenge/submissions/",
);

?>
