.tab_sync {
    margin-bottom: 2em;
}

.tab_content {
    margin: 0px;
    padding: 5px;
    margin: 0px -5px;
    border: solid 1px #888;
    background-color: #fafafa;
}

.tab_button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 20px;
    padding: 5px;
    margin-bottom: -1px;
    border: solid 1px #888;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background-color: #eee;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    color: #888;
}

.tab_selected {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
    text-shadow: #bbb 2px 2px 4px;
    color: #333;
}