@charset "utf-8";

@import url("http://fonts.googleapis.com/css?family=Ubuntu");

body {
    font-family: 'Ubuntu', arial, serif;
    font-size: 12px;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    display: block;
    text-shadow: #aaa 1px 1px 3px;
    line-height: 1;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;
}

p {
    text-align: justify;
}

ul, ol {
    list-style-position:inside;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
ul ul, ol ol {
    margin-bottom: 0em;
}
ul li.spacer {
    display: none;
}
ul li.spacer+li {
    margin-top: 1em;
}
ul li {
    list-style-type: disc;
}
ol li {
    list-style-type: decimal-leading-zero;
}

/*Spacing*/
h1, h2, h3, h4, p {
    margin-bottom: 0.5em;
}

p+h1, p+h2, p+h3, p+h4 {
    margin-top: 1.5em;
}

ul+h1, ul+h2, ul+h3, ul+h4 {
    margin-top: 1.5em;
}

ol+h1, ol+h2, ol+h3, ol+h4 {
    margin-top: 1.5em;
}

table+h1, table+h2, table+h3, table+h4 {
    margin-top: 1.5em;
}

/*Clearing*/
h2:before, h3:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*Links*/
a {
    color: #8B4513;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Monospaced elements */
pre, code {
    font-family: monospace;
}
pre {
    padding: 10px;

    display: block;
    margin-bottom: 1em;
}
code {
    border: 1px solid #7a0;
    background: #ad6;
}

/*Tables*/
th {
    color: #050;
}

/* Misc */
.small {
    font-size: 70%;
}

.large {
    font-size: 130%;
}

strong {
    font-weight: bold;
    text-shadow: #aaa 1px 1px 2px;
}

table {
    width: 100%;
    text-align: center;
}

.bigstats th{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.bigstats td{
    padding:  10px;
    padding-bottom: 0px;
    font-size: 40px;
    text-align: center;
}

/* Ranking */

table.ranking caption {
    margin: 4px;
}

table.ranking a {
    color: #A0522D;
}

table.ranking td {
    padding: 0px 5px;
}

tr.old {
    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity:0.3;
}

tr.odd {
    border: solid 1px #f8f8f8;
}
tr.even {
    background-color: #f8fff0;
}
td.number {
    font-family: Consolas, Inconsolata, monospace;
    text-align: right;
}

td.list span {
    display: inline-block;
    width: 85px;
    overflow: hidden;
    white-space: nowrap;
}

td.list {
    text-align: left;
}

div.pagination span {
    margin: 0px 2px;
    padding: 2px 4px;
    border: solid 1px #f8f8f8;
}

pre.error {
    border: dashed 1px DarkRed;
    font-family: Consolas, Inconsolata, monospace;
    text-align: left;
    padding: 5px;
    width: 680px;
    overflow: auto;
    background-color: #e0e0e0;
}
