@charset "utf-8";
 
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

body {
    font-family: 'Ubuntu', arial, serif;
    font-size: 12px;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    display: block;
    text-shadow: #aaa 1px 1px 3px;
    line-height: 1;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;   
}

h3 {
    font-size: 2em; 
}

h4 {
    font-size: 1.5em; 
    font-weight: normal;
}

p {
    text-align: justify;
}

ul, ol {
    list-style-position:inside;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
ul ul, ol ol {
    margin-bottom: 0em;
}
ul li.spacer {
    display: none;
}
ul li.spacer+li {
    margin-top: 1em;
}
ul li {
    list-style-type: disc;
}
ol li {
    list-style-type: decimal-leading-zero;
}

/*Spacing*/
h1, h2, h3, h4, p {
    margin-bottom: 0.5em;
}

p+h1, p+h2, p+h3, p+h4 {
    margin-top: 1.5em;
}

ul+h1, ul+h2, ul+h3, ul+h4 {
    margin-top: 1.5em;
}

ol+h1, ol+h2, ol+h3, ol+h4 {
    margin-top: 1.5em;
}

/*Clearing*/
h2:before, h3:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*Links*/
a {
    color: #a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Monospaced elements */
pre, code {
    font-family: monospace;
}
pre {
    padding: 10px;
    
    display: block;
    margin-bottom: 1em;
}
code {
    border: 1px solid #7a0;
    background: #ad6;
}

/*Tables*/
th {
    color: #900;
}

/* Misc */
.small {
    font-size: 70%;
}

.large {
    font-size: 130%;
}

strong {
    font-weight: bold;
    text-shadow: #aaa 1px 1px 2px;
}